<p>data-binding works!</p>
<p>my age is {{22}}</p>
<p>my name is {{name}}</p>
<p>from india: {{isindian}}</p>

<p *ngFor="let phone of phones">{{ phone }}</p>
<ul>
    <li *ngFor="let course of courses ">{{course}}</li>
</ul>

<p>my name is {{user.name}}.i am from {{user.city}}</p>

<p>name:{{ student.name }}</p>
<p>id:{{student.id}}</p>
<p>marks:{{student.marks}}</p>

<p>name:{{ Employee.name }}</p>
<P>company:{{ Employee.company }}</P>
<p>package:{{ Employee.package }}</p>

<p *ngFor="let user of users">
 name: {{ user.name }}
 city: {{ user.city }}

</p>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>city</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{user.city}}</td>
        </tr>
    </tbody>

</table>
<br>
<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>id</th>
            <th>marks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.id}}</td>
            <td>{{ student.marks }}</td>
        </tr>
    </tbody>

</table>

