<div class="parent">
    <form [formGroup]="loginForm">
    <label>username</label>
    <input type="text" formControlName="email"/>
    <br>
    <label>password</label>
    <input type="password" formControlName="password"/>

     <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required</p>
        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">At least one upper case,one lower case,one special character,one number</p>
    </div>
    <br>
    <button (click)="submit()">login</button>
    </form>
</div>