

.parent{
    height: 100vh;
    width: 100vw;
    background-color:orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    border-radius: 20px;
    color:black;
    text-align: center;
}
button{
    border-radius: 20px;
    color: green;
}

body{
    text-align: center;
    display: flex;
}

form{
    background-color: white;
    width: 250px;
    height: 350px;
    padding: 25px;
    border-radius: 20px;
}