<h1>create vehicle form</h1>
<form [formGroup]="VehicleForm">
<label >Vehicle</label>
<input type="text" formControlName="Vehicle">
<br>
<label >manufacturer</label>
<input type="text" formControlName="manufacturer">
<br>
<label >model</label>
<input type="text" formControlName="model">
<br>
<label >Type</label>
<input type="text" formControlName="Type">
<br>
<label >fuel</label>
<input type="text" formControlName="fuel">
<br>
<label >color</label>
<input type="text" formControlName="color">
<br>
<button (click)="submit()" >submit</button>
</form>